* {
    padding: 0px;
    margin: 0px;
}

#container {
    display: grid;
    grid-template: 2fr 8fr 2fr / 1fr ;
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    margin: 18px;
}

#game-area {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-row: 2 / 3;
    border: 1px solid purple;
    padding: 0px 50px;
    column-gap: 50px;
}

#game-area > * {
    display: grid;
    grid-template: repeat(10, minmax(50px, 1fr)) / repeat(10, minmax(50px, 1fr));
    border: 1px solid green;
}

.grid-cell {
    border: 1px solid gray;
}